[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/jue89/hexo-theme-cactus.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/jue89/hexo-theme-hyde.git
